/* font-family: "MyriadProSemiBold"; */
@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    font-family: 'MyriadProRegular', Serif;
}

a, a:focus {
    text-decoration: none;
    border: 0;
}

a:hover {
    text-decoration: none !important;
}

body {
    background: #f1f1f1;
}

#logo,
#hero {
    text-align: center;
}

#hero {
    position: relative;
    background: url(../images/hero.png) no-repeat;
    height: 496px;
    width: 320px;
    margin: 10px auto 0;
    /*width: 100%;*/
    background-size: cover;
}

#hero .phone {
    font-family: "MyriadProSemiBold";
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 33px;
    top: 80px;
    width: 100%;
    text-align: center;
}

#hero .text {
    font-family: "MyriadProSemiBold";
    position: absolute;
    color: #fff;
    font-weight: bold;
    font-size: 35px;
    top: 130px;
    left: 5px;
}

#hero .text span {
    text-transform: uppercase;
}

.button,
.white-popup-block input[type=submit] {
    background: #ff0000;
    width: 260px;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.button span {
    margin-right: 5px;
}

#hero .button {
    position: absolute;
    left: 50%;
    top: 400px;
    margin-left: -130px;
}

.full-width {
    background: #fbc900;
    padding-bottom: 30px;
}

.col-xs-12 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}


.taxi-title {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}

.taxi-title::before,
.taxi-title::after {
    content: url(../images/taxi-emblem.png);
    position: relative;
    top: 0;
}

.price-list ul {
    width: 70%;
    margin: auto;
}

.price-list li {
    list-style: none;
    color: #000;
    font-size: 18px;
    line-height: 30px;
    background: url(../images/avd_list.png) left center no-repeat;
    padding-left: 20px;
    float: left;
}

.price-list li > span {
    margin-left: 10px;
    font-size: 22px;
}

#price .button {
    margin-top: 30px;
}

.top-emblem {
    background: url(../images/taxi-emblem-line.png) no-repeat 50%;
    height: 7px;
    margin-top: -1px;
}

#advantages {
    padding-bottom: 60px;
}

#advantages .item {
    text-align: center;
    margin-top: 30px;
    color: #000;
}

#advantages .item span {
    width: 100%;
    display: block;
    font-size: 20px;
    margin-top: 5px;
}

#info {
    padding-bottom: 30px;
}

#info .title {
    text-align: center;
    font-size: 30px;
    margin: 30px 0;
    color: #000;
}

#info .title span {
    font-family: 'MyriadProSemiBold', Serif;
    text-transform: uppercase;
}

#info .text p {
    font-size: 24px;
    text-align: center;
    color: #000;
}

#info .text hr {
    background-color: #fbc900;
    width: 80px;
    height: 2px;
}

.white-popup-block {
    background: #FFF;
    padding: 20px 30px;
    text-align: center;
    max-width: 650px;
    margin: 40px auto;
    position: relative;
}

.white-popup-block h1 {
    font-size: 24px;
}

.white-popup-block input[type=tel] {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #fbc900;
    font-size: 26px;
    text-align: center;
}

.white-popup-block input[type=submit] {
    margin-top: 20px;
    border: 0;
}


.error {
    margin-top: 10px;
    color: red;
}

@media screen and (max-width: 768px) {
    .price-list ul {
        width: 85%;
    }
}

@media screen and (max-width: 600px) {
    .price-list ul {
        width: 55%;
    }
}

@media screen and (max-width: 414px) {
    #hero {
        width: 100%;
    }
    .price-list ul {
        width: 80%;
    }
}

@media screen and (max-width: 375px) {
    .price-list ul {
        width: 90%;
    }
}

@media screen and (max-width: 321px) {
    .price-list ul {
        width: 100%;
    }
}